.VideoList {
    display: flex;
    flex-wrap: wrap;
}

.video-grid-header {
    display: flex;
    padding-bottom: 24px;
    padding-top: 14px;
    align-items: center;
    background: #2b718bd4;
    border-radius: 20px;
    margin-bottom: 5px;
}

.vs-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 12px;
}

.video-add-btn, .video-play-btn {
    margin-left: 5px;
    margin-right: 5px;
}