.QueueList {
    display: flex;
    flex-wrap: wrap;
}

.q-video-grid-header {
    display: flex;
    padding-bottom: 24px;
    padding-top: 14px;
    align-items: center;
    background: #B2792E;
    border-radius: 20px;
}

.q-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 18px;
    margin-left: 12px;
}

.q-rmv-btn, .q-video-play-btn {
    margin-left: 5px;
    margin-right: 5px;
}
