


.SignupPage {
    display: flex;
    margin-top: 300px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }


  .link {
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  