



.link {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.LoginPage {
    display: flex;
    margin-top: 300px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .col-sm-12 {
    border: 0.4rem outset grey;
    border-radius: 12px;
    margin: 0.1rem;
    padding: 0.1rem;
    outline-offset: 0.1rem;
  }

  .form-control {
    border-radius: 5px;
    margin: 0.1rem;
    padding: 0.1rem;
  } 

  