.LandingPage-link-margin {
    margin-bottom: 100px;
  }
  

  .LandingPage {
    display: flex;
    justify-content: center;
    }

 
  .logo {
    display: flex;
    
    width: fit-content;
}

  .LandingPage-controls {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding: 10px;
  }
  