


.LandingPage-link-margin {
    margin-bottom: 100px;
  }
  

  .LandingPage {
    display: flex;
    margin-top: 300px;
    justify-content: center;
    flex-direction: column;
    flex-flow: column nowrap;
    align-items: center;
    }

 
  .logo {
    display: flex;
    width: fit-content;
}

  .LandingPage-controls {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding: 10px;
  }
  

  /* display: flex;
    margin-top: 300px;
    
    justify-content: center;
    margin-bottom: 50px; */