.App-header {
  background-color: #282c34;
<<<<<<< HEAD
  min-height: 10vh;
=======
>>>>>>> decd8ea8becc5ff4e66b09c23245725db4ca79d9
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
